<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>this is home page</title>
</head>
<body>
	<section>
		
		<div class="card mr-3 ml-3">
		
			<div class="card-body" th:if="${contact}">
				
				<div class="container text-center">
				
					<img style="height:200px; width:200px;" class="my_profile_picture" src="" th:src="@{'/img/'+${contact.imgUrl}}" alt="profile photo" />
				
					<h3><span th:text="${contact.name}"></span>(<span th:text="${contact.secondName}"></span>)</h3>
					
					<table class="table">
						  <thead>
						    <tr>
						      <th scope="col">#ID</th>
						      <th scope="col">ECON2020<span th:text="${contact.cId}"></span></th>
						      
						    </tr>
						  </thead>
						  <tbody>
						  
						    <tr>
						      <th scope="row">Email</th>
						      <td><span th:text="${contact.email}"></td>
						    </tr>
						    
						     <tr>
						      <th scope="row">Phone</th>
						      <td><span th:text="${contact.phone}"></td>
						    </tr>
						    
						     <tr>
						      <th scope="row">Work</th>
						      <td><span th:text="${contact.work}"></td>
						    </tr>
						    
						    
						    
						  </tbody>
						  
					</table>
					
						<div class="description mt-3">
						  		<th:block th:utext="${contact.description}"></th:block>
						  
						</div>
						<div class="container mt-3">
							  <button class="btn btn-danger btn-small btn-block"> Delete</button>
						      <button class="btn btn-primary btn-small btn-block"> Update</button>
						
						</div>
					
					
				</div>
			
			</div>
			
				<!-- thymleaf else section/statement -->
				
			<h1 class="text-center p-3 bg-danger text-white" th:unless="${contact}">You don't have permission to see this contact...</h1>
		</div>
	</section>
</body>
</html>