<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>this is home page</title>
</head>
<body>
	<section>
			 <div id="login">
	           <div class="container">
	            <div id="login-row" class="row justify-content-center align-items-center">
	                <div id="login-column" class="col-md-6">
	                    <div style="height:200px" id="login-box" class="col-md-12">
	                    
	                        	<div class="alert alert-success mt-3" role="alert">
	                        	
	                        	We have sent OTP to your Email
	                        	
	                        	</div>
	                         <!-- email form -->
	                    
	                    		  <form th:action="@{/send-otp}" method="post" action="">
	                    		  	
	                    		  	 <div class="form-group">
	                    		  		
	                    		  		<input name="otp" required="required" type="number" placeholder="Enter OTP here" class="form-control"/>
	                    		  	
	                    		  	</div>
	                    		  	
	                    		  	<div class="containter text-center">
	                    		  	
	                    		  	<button class="btn btn-success">Verify</button>
	                    		  	</div> 
	                    		  
	                    		  
	                    		  </form> 
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
</body>
</html>